.bgtop {
    background-image: url(/saas-project-assets/backgrounds/background-top.svg);
    z-index: 1;
}

#sec1 {
    display: flex;
    z-index: 2;
    margin-top: 0;
}

.hdlogo {
    flex:1 1 50%;
    display: flex;
    align-items: center;
}

.hdlogo img {
    width: 60%;
    height: 60%;
}

.navbar {
    flex: 1 1 35%;
    align-content: center;
    position: relative;
}

#mylinks a {
    margin: 0 2%;
    text-decoration: none;
    color: rgb(119, 119, 119);
}

#mylinks a:hover {
    color:rgb(114, 114, 244) ;
}

.btn1 {
    flex: 1 1 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buybtn {
    border: 1px solid transparent;
    border-radius: 25px;
    background-color:rgb(114, 114, 244);
    width: 75%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buybtn a {
    text-decoration: none;
    color: white;   
}

#sec2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    "sec2txt sec2txt sec2txt . sec2img sec2img sec2img sec2img";
    margin:0 3%;
    z-index: 2;
    padding-bottom: 10%;
}

.sec2txt {
    grid-area: sec2txt;
    margin-top: 8%;
}

.sec2txt h2 {
    font-size:35px;
    font-weight: 500;
    letter-spacing: 2.5;
    margin-bottom: 0;
}

.sec2txt p {
    margin-bottom: 8%;
    color: rgb(119, 119, 119);
}
.btn2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color:rgb(114, 114, 244);
    width: 30%;
    height: 20%;
}

.btn2 a {
    text-decoration: none;
    font-size: medium;
    color: white;
}

.lrn a {
    margin: 0 5%;
    text-decoration: none;
    color:rgb(114, 114, 244);
}

.sec2txt > a {
    display: inline-block;
}

.sec2img {
    grid-area: sec2img;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sec2img1,.sec2img2,.sec2img3,.sec2img4 {
    position: relative;
    padding-bottom: 10%;
}

.sec2img1 img:first-of-type {
    width: 25%;
    height: 20%;
    position: absolute;
    top: 5%;
    right: 35%;
} 

.sec2img1 img:nth-of-type(2) {
    width: 40%;
    height: 25%;
    position: absolute;
    bottom: 15%;
    left: 20%;
}

.sec2img2 img:first-of-type {
    width: 45%;
    height: 25%;
    position: absolute;
    top: 7%;
} 

.sec2img2 img:nth-of-type(2) {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: -5%;

}

.sec2img3 img:first-of-type {
    width: 35%;
    height: 25%;
    position: absolute;
    bottom: 30%;
} 

.sec2img4 img:first-of-type {
    width: 35%;
    height: 25%;
    position: absolute;
    top: 5%;
} 

.sec2img4 img:nth-of-type(2) {
    width: 35%;
    height: 25%;
    position: absolute;
    bottom: 3%;
}

.sec3cardz img {
    width: 30%;
    height: 30%;
}

.sec3hd {
    text-align: center;
    margin: 10% 0 3% 0;
}

.sec3hd p {
    color: rgb(119, 119, 119);
}
.sec3cardz {
    display: flex;
    margin: 8% 0 8% 0;
}

.sec3card1, .sec3card2, .sec3card3, .sec3card4 {
    flex: 1 1 25%;
}

.sec3cardz > div {
    box-shadow: -5px 0 rgba(211, 211, 211, .3), 5px 0 rgba(211, 211, 211, .3), 0 8px rgba(211, 211, 211, .3);
    margin: 0 1%;
    padding: 5% 2%;
}

.sec3cardz p {
    color: rgb(119, 119, 119);
}
.sec3cardz a {
    text-decoration: none;
    color: rgb(114, 114, 244);
}

.sec3card3 h3 {
    display: inline-block;
}
.skbtn {
    background-color: rgb(13, 221, 221);
    padding: 1% 5%;
    border-radius: 15px;
    margin-left: 3%;
}

#sk {
    text-decoration: none;
    color: white;
}

.sec3cardz > div:hover{
    background-color: gold;
}

#sec4 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(127, 255, 212, .05);
    padding-top: 6%;
}

.sec4-1 {
    margin: 7% 0 0 5%;
    flex: 1 1 40%;
    position: relative;
}

.sec4-1 h2 {
    font-weight:500;
    margin-bottom: 8%;
}

.sec4-1 span {
    border: 1px solid transparent;
    border-radius: 25px;
    background-color:rgb(114, 114, 244);
    padding: 2% 4%;
}

.sec4-1 a {
    text-decoration: none;
    color:white;
}

.sec4-2 {
    flex: 1 1 60%;
    display: flex;
    justify-content:right;
}

.sec4-2 img {
    width: 90%;    
}

#sec5 {
    margin-top: 8%;
}

.sec5hd {
    text-align: center;
}

.sec5hd p {
    color: rgb(119, 119, 119);
}

.sec5cardz {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.sec5cardz div {
    text-align: center;
}

#sec6 {
    position: relative;
}

#sec6 img:first-of-type {
    width: 97%;
    margin: 8% 1%;
}

#sec6 img:nth-of-type(2) {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:45%;
}

#sec7 {
    display: flex;
    height: fit-content;
    margin: 3% 0;
}

#sec7 > div {
    margin: 0 3%;
}

.sec7-1 {
    flex: 1 1 45%;
    position: relative;
    z-index: 1;
}
.sec7-1 img:first-of-type {
    z-index: 2;
    width: 50%;
    position: absolute;
    bottom: -35%;
    left: 5%;
}

.sec7-1 img:nth-of-type(2) {
    z-index: 3;
    width: 85%;
    position: absolute;
    right: 0;
    top: 0;
}

.sec7-2 {
    flex: 1 1 55%;
}

.sec7-2 img {
    width: 35%;
    margin-top: 15%;
}

.sec7-2 p {
    line-height: 1.5;
    letter-spacing: 1.5;
    font-size: large;
    margin-bottom: 10%;
}

.sec7-2 span {
    font-size: medium;
    color: rgb(119, 119, 119);
}

.sec7-2 strong {
    color: black;
    font-size: large;
}

#sec8 {
    margin-top: 20%;
}

#sec8 h2 {
    text-align: center;
    font-weight: 500;
    font-size: large;
    margin-bottom: 8%;
}

.sec8imgs {
    display: flex;
    justify-content: space-around;
}

.sec8imgs img {
    width: 10%;
}

#sec9 {
    padding-bottom: 12%;
}

.sec9hd {
    text-align: center;
    margin: 8% 0;
}

.sec9hd h2 {
    font-size: x-large;
    margin-bottom: 0;
}

.sec9hd p {
    color: rgb(119, 119, 119);
    margin-top: 1%;
}

.sec9cardz {
    display: flex;
}

.sec9-1 {
    flex: 1 1 40%;
    margin: 0 5%;
    padding:0 5%;
    box-shadow: -5px 0 rgba(211, 211, 211, .3), 5px 0 rgba(211, 211, 211, .3), 0 8px rgba(211, 211, 211, .3);
}

.sec9-1 span {
    border: 1px solid transparent;
    border-radius: 25px;
    background-color:rgb(114, 114, 244);
    padding: 2% 4%;
}

.sec9-1 a {
    text-decoration: none;
    color: white;
}

.price {
    margin-top: 15%;
}
.price strong {
    font-size: 50px;
}

.sec9-1 hr {
    margin: 10% 0;
}

.sec9-1 p:first-of-type {
    color: rgb(119, 119, 119);
    margin: 10% 0 15% 0;
    font-size: larger;
}

.sec9-1 p:nth-of-type(2) {
    color: rgb(119, 119, 119);
    margin: 4% 0 10% 0;
}

.sec9-2 {
    flex: 1 1 60%;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.sec9-2 img {
    width: 20%;
}

.sec9-2 p {
    color: rgb(119, 119, 119);
}

.sec9card3 h3 {
    display: inline-block;
}

.sec9card3 p {
    margin: 1%;
}

#sec10 {
    display: flex;
    background-color: rgb(50, 50, 138);
    margin-top: 1%;
}

.sec10-1 {
    flex: 1 1 50%;
    margin-left: 8%;
    margin-top: 12%;
}

.sec10-1 h2 {
    color: white;
}

.sec10-1 p:first-of-type {
    color: rgb(149, 147, 147);
}

.sec10-1 hr {
    margin:8% 60% 8% 0;
}
.sec10-1 p:nth-of-type(2) {
    color: white;
}

#char {
    margin-top: 10%;
    display: inline-block;
    color: rgb(149, 147, 147);
}

.sec10-1 strong {
    font-size: large;
    color: white;
}
.sec10imgs {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.sec10imgs img {
    border-radius: 50%;
    width: 10%;
    height: 50%;
    margin-right:5% ;
}

.sec10imgs img:nth-of-type(3) {
    width: 15%;
}

.sec10-2 {
    flex: 1 1 50%;
    background-color: white;
    border-radius: 8px;
    margin: 3%;
    padding: 3%;
}

.form div {
    margin: 3% 0;
}

.form input {
    width: 43%;
    margin: 0 2%;
}

.form select {
    width: 45%;
    margin: 0 2%;
}

.form textarea {
    width: 93%;
    margin: 0 2%;
    color: rgb(119, 119, 119);
}

#chbx {
    margin: 0;
    width: 5%;
}

.form label {
    color: rgb(119, 119, 119);
}

.priv a:first-of-type {
    color: rgb(119, 119, 119);
    text-decoration: underline;
    text-decoration-style:dotted;
    text-underline-offset: 5px;
    margin-right: 8%; 
}

.priv a:nth-of-type(2) {
    color: rgb(114, 114, 244);
    text-decoration: underline;
    text-decoration-style:dotted;
    text-underline-offset: 5px;
}

form {
    text-align: center;
} 

.submit {
    margin-top: 10%;
    padding: 2% 4%;
    background-color:rgb(103, 103, 235);
    border-radius: 25px;
    color: white;
    border: 1px solid transparent;
}

.foot1 {
    display: flex;
    justify-content: space-around;
    margin: 8% 3% 0 3%;
}

.ft1card1 img {
    width: 45%;
    margin: 2% 0;
}

.ft1card1 div:first-of-type {
    color: rgb(119, 119, 119);
    font-size: medium;
}

.ft1card1 div:nth-of-type(2) {
    color: rgb(114, 114, 244);
}

.ft1card1 div {
    margin: 2% 0;
}

.ft1card1 span {
    margin-right: 2%;
}

.ft1card1 {
    flex: 1 1 30%;
}
.ft1cardz {
    display: flex;
    justify-content: space-around;
    flex: 1 1 70%;
}

.ft1card2  a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
 
.ft1card2 div {
    margin-bottom: 4%;
}

.ft1card2 div:nth-of-type(2) {
    position: relative;
}

.ft1card2 span {
    background-color: rgb(114, 114, 244);
    margin-left: 1%;
    padding: 1% 5%;
    position: absolute;
    right: -36%;
    border: 1px solid transparent;
    border-radius: 8px;
}

#hiring {
    color: white;
    font-size: x-small;
}

.ft1card3  a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
 
.ft1card3 div {
    margin-bottom: 4%;
}

.ft1card4  a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
 
.ft1card4 div {
    margin-bottom: 4%;
}

.ft1card5  a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}
 
.ft1card5 div {
    margin-bottom: 4%;
}

.ft1card5 span {
    margin-right: 2%;
}

.foot2 hr {
    border-color: rgba(119, 119, 119, .15);
    margin-top: 5%;
}
.ft2-1 {
    display: flex;
    justify-content: space-between;
    margin: 5% 3%;
}

.ft2-1a {
    flex: 1 1 30%;
}

.ft2-1b {
    flex: 1 1 35%;
    display: flex;
    justify-content: right;
}
.ft2-1a a {
    text-decoration:none;
    color: rgb(119, 119, 119);
}

#blulnk {
    color: rgb(114, 114, 244);
}

.ft2-1b a {
    padding: 0 3%;
}

.ft2-1b img {
    width:15%;
}
.ft2-1b select {
    display: inline-block;
}

.ft2-2 {
    text-align: center;
    color: rgb(119, 119, 119);
    font-size: large;
}

.ft2-2 span {
    margin-right: .5%;
}

.ft2-3 {
    margin: 5% 0;
    text-align: center;
    color: rgb(119, 119, 119);
    font-size: large;
}

